<table *ngIf="products$ | async as products; else productError">
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td>{{product.getProductDescription()}}</td>
    <td>{{product.isActivated()}}</td>
    <td>
      <button type="button" (click)="saveProduct(product)">Save Product</button>
    </td>
  </tr>
</table>

<button type="button" (click)="createProduct()">Create product</button>

<ng-template #productError>
  <p>Ops, error loading </p>
</ng-template>

<ng-container *ngIf="genericError">
  <p *ngIf="genericError.isBadRequest()">BAD Request: {{genericError.getMessage()}}</p>
  <p *ngIf="genericError.isServerError()">SERVER Error: {{genericError.getMessage()}}</p>
</ng-container>

<ng-container *ngIf="successResponse">
  <p>{{successResponse.getMessage()}}</p>
</ng-container>
