<!-- Product list -->

<table *ngIf="products?.length > 0; else productError">
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let product of products" [ngClass]="{
    'new-product': product.isNew,
    'updated-product': product.isUpdated
    }">
    <td>{{product.name}}</td>
    <td>{{product.getProductDescription()}}</td>
    <td>{{product.price | currency}}</td>
    <td>{{product.isActivated()}}</td>
    <td>
      <button type="button" (click)="saveProduct(product)">Save Product</button>
    </td>
  </tr>
</table>

<hr/>

<!-- Form Component -->

<app-add-product-form (onSaveSuccessfully)="onProductAdded($event)"></app-add-product-form>

<!-- Error messages -->

<ng-template #productError>
  <p>Ops, error loading </p>
</ng-template>

<ng-container *ngIf="genericError">
  <p *ngIf="genericError.isBadRequest()">BAD Request: {{genericError.getMessage()}}</p>
  <p *ngIf="genericError.isServerError()">SERVER Error: {{genericError.getMessage()}}</p>
</ng-container>
